/* footer left text */
.footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  
  .footer p {
    /* margin-left: 160px; */
  }
  
  @media screen and (max-width: 600px) {

    .footer-display-mobile {
      display: none;
    }
    .footer p {
      margin-left: 0
    }
  }