/* signup container */
.login__container {
  display: flex;
  width: 100%;
}

/* columns for both right & left */
.login__col__left {
  background-color: var(--primary-white);
  position: relative;
}

.login__col__right {
  position: relative;
  background-color: var(--bg-primary);
  width: 100%;
  height: 100vh;
}

/* header text */
.login__header__text {
  margin-bottom: 40px;
  font-weight: var(--lg-font-weigth);
}

/* horizontal line with text within */
.horizontal {
  border-bottom: 2px solid var(--border-color);
  height: 15px;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}
.horizontal span {
  line-height: 30px;
  position: relative;
  background: var(--bg-primary) none repeat scroll 0 0;
  top: 0;
  padding: 0 20px;
}

/* input field at the right */
.login__right {
  width: 80%;
  height: 500px;
  position: absolute;
  top: 15%;
  left: 10%;
}

.login__header__text {
  text-align: center;
}

.login__input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
  gap: 8px;
}

.login__input {
  width: 100%;
  height: 38px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 12px 16px;
}

/* sign-up button */
.login__btn__container {
  text-align: center;
  margin-top: 40px;
}

.login__btn {
  background-color: var(--gurugeeks-color);
  border: 1px solid var(--border-color);
  color: var(--primary-white);
  width: 100%;
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

.login__user__actions{
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  justify-content: space-between;
}

.login__user__actions p{
  cursor: pointer;
  
}